$header-wrapper-bg-color: #1779ba;
$header-wrapper-color: white;

@import "../../../node_modules/foundation-sites/scss/util/util";

.header {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
  z-index: 500;
  .bar {
    font-size: 14px;
    padding: 5px;
  }
  .wrapper {
    background: $header-wrapper-bg-color;
    color: $header-wrapper-color;
    .logo {
      padding: 15px;
      line-height: 1.8rem;
      font-weight: 600;
      @include breakpoint(small only) {
        text-align: center;
        border-bottom: 1px solid darken($header-wrapper-bg-color, 5%);
      }
    }
    nav {
      .menu {
        margin: 0;
        @include breakpoint(small only) {
          justify-content: center;
          font-size: 12px;
        }
        li {
          display: inline-block;
          transition: 0.3s ease;
          border-left: 1px solid darken($header-wrapper-bg-color, 5%);
          @include breakpoint(small only) {
            &:first-child {
              border-left: none;
            }
          }
          a {
            padding: 15px;
            color: white;
            line-height: 1.8rem;
          }
          &:hover {
            background: darken($header-wrapper-bg-color, 10%);
            cursor: pointer;
          }
        }
      }
    }
  }
}