<div class="about">
    <div class="grid-container">
        <h2 class="text-center">O Nas</h2>
        <h4 class="text-center">
          <span>Jesteśmy jednym z najlepszych oraz najpopularniejszych</span>
          <span>biur nieruchomości w Polsce</span>
        </h4>
        <img src="apartment-blocks.jpg" alt="Bloki mieszkalne">

        <section class="overview">
          <p>
            Nasza dzisiejsza pozycja jest efektem wieloletniej systematycznej pracy i ciągłego rozwoju firmy.
            Od 26 lat pomagamy naszym klientom na najwyższym możliwym poziomie, a nasza oferta zawiera
            nieruchomości odpowiadające najwyższym standardom pod względem ergonomii, jakości i wzornictwa.
          </p>
          <p>
            Jako zespół, jesteśmy grupą profesjonalistów, traktujących swoją pracę z pasją i
            pełnym zaangażowaniem. Do każdej oferty podchodzimy z pełną mocą, i zawsze najważniejsze
            dla nas było, jest, i zawsze będzie dobro osób, którzy nam zaufali.
          </p>
        </section>

        <div class="line-separator show-for-small-only"></div>

        <section class="goal">
          <div class="grid-x align-middle">
            <div class="cell medium-4 medium-offset-1 small-12">
              Każda transakcja jest u nas ubezpieczona – kupując, sprzedając czy wynajmując z nami
              swoje nieruchomości zostaniecie objęci gwarancją bezpieczeństwa transakcji.
              Tylko w Pan Domek Nieruchomości maksymalny zakres ubezpieczenia gwarantuje Generali T.U. S.A.
            </div>
            <div class="cell medium-6 medium-offset-1 small-12">
              <img src="symbolic-home-pass.jpg" alt="Symboliczne przekazanie domu">
            </div>
          </div>
        </section>

        <div class="line-separator show-for-small-only margin-bottom"></div>

        <section class="team">
          <div class="grid-x align-middle">
            <div class="cell medium-6 medium-offset-1 small-12 small-order-2 medium-order-1">
              <img src="people.jpg" alt="Art zespołu">
            </div>
            <div class="cell medium-4 medium-offset-1 small-12 small-order-1 medium-order-2">
              Wiemy, że ludzie od wszystkiego się po prostu nie sprawdzają.
              Dlatego też dzielimy naszą załogę na dedykowane zespoły obsługi klientów
              zarówno popytowych, jak i podażowych. Chcemy, abyście poczuli się u nas naprawdę wyjątkowo.
            </div>
          </div>
        </section>

        <section class="summary">
          <div class="img-container">
            <img src="hand-shake.jpg" alt="Uścisk dłoni">
            <div class="img-center-text">
              <h3>Spełnij z nami swoje marzenia</h3>
            </div>
          </div>
        </section>
    </div>
</div>
