<div class="footer">
    <div class="info">
        <div class="grid-container">
            <div class="grid-x">
                <div class="small-12 medium-6 large-3 box">
                    <h3 class="title">O nas</h3>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur deserunt dolore
                    dolores eveniet illo in inventore laboriosam, omnis quaerat quas soluta, ut, voluptate? Error ipsam
                    iste iusto laboriosam tenetur.
                </div>
                <div class="small-12 medium-6 large-3 box socials">
                    <h3 class="title">Znajdź nas na:</h3>
                    <ul class="social-list">
                        <li class="social-link">
                            <div class="grid-x align-middle">
                                <div class="cell shrink">
                                    <div class="icon">
                                        <span class="fa fa-facebook"></span>
                                    </div>
                                </div>
                                <div class="cell auto">
                                    Facebook
                                </div>
                            </div>
                        </li>
                        <li class="social-link">
                            <div class="grid-x align-middle">
                                <div class="cell shrink">
                                    <div class="icon">
                                        <span class="fa fa-instagram"></span>
                                    </div>
                                </div>
                                <div class="cell auto">
                                    Instagram
                                </div>
                            </div>
                        </li>
                        <li class="social-link">
                            <div class="grid-x align-middle">
                                <div class="cell shrink">
                                    <div class="icon">
                                        <span class="fa fa-youtube"></span>
                                    </div>
                                </div>
                                <div class="cell auto">
                                    YouTube
                                </div>
                            </div>
                        </li>
                        <li class="social-link">
                            <div class="grid-x align-middle">
                                <div class="cell shrink">
                                    <div class="icon">
                                        <span class="fa fa-snapchat"></span>
                                    </div>
                                </div>
                                <div class="cell auto">
                                    Snapchat
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="small-12 medium-6 large-3 box">
                    <h3 class="title">Menu</h3>
                    <ul class="bottom-menu">
                        <li class="link-element">
                            <div class="grid-x align-middle">
                                <div class="cell shrink">
                                    <div class="icon">
                                        <span class="fa fa-home"></span>
                                    </div>
                                </div>
                                <div class="cell auto">
                                    Strona Główna
                                </div>
                            </div>
                        </li>
                        <li class="link-element">
                            <div class="grid-x align-middle">
                                <div class="cell shrink">
                                    <div class="icon">
                                        <span class="fa fa-users"></span>
                                    </div>
                                </div>
                                <div class="cell auto">
                                    O nas
                                </div>
                            </div>
                        </li>
                        <li class="link-element">
                            <div class="grid-x align-middle">
                                <div class="cell shrink">
                                    <div class="icon">
                                        <span class="fa fa-building"></span>
                                    </div>
                                </div>
                                <div class="cell auto">
                                    Oferta
                                </div>
                            </div>
                        </li>
                        <li class="link-element">
                            <div class="grid-x align-middle">
                                <div class="cell shrink">
                                    <div class="icon">
                                        <span class="fa fa-address-card-o"></span>
                                    </div>
                                </div>
                                <div class="cell auto">
                                    Kontakt
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="small-12 medium-6 large-3 box">
                    <h3 class="title">Kontakt</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright text-center">
        Nie Ruchom Ości &copy; 2017
    </div>
</div>