<div class="contact">
    <div class="grid-container">
        <h2 class="text-center">Kontakt</h2>
        <div class="grid-x grid-padding-x">
            <div class="small-12 medium-6 cell">
                <h3>Formularz</h3>
                <form>
                    <label>
                        Imię i nazwisko (wymagane)
                        <input type="text" required placeholder="Imię i nazwisko...">
                    </label>
                    <label>
                        Email (wymagane)
                        <input type="email" required placeholder="Email...">
                    </label>
                    <label>
                        Telefon
                        <input type="text" placeholder="Telefon...">
                    </label>
                    <label>
                        Nazwa oferty
                        <input type="text" placeholder="Oferta...">
                    </label>
                    <label>
                        Informacje dodatkowe
                        <textarea placeholder="Informacje dodatkowe..." rows="5"></textarea>
                    </label>
                    <button class="submit">Wyślij</button>
                </form>
            </div>
            <div class="small-12 medium-6 cell">
                <h3>Mapa</h3>
                <div class="google-maps">
                    <iframe frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/place?q=w%C3%B3lcza%C5%84ska%2073&key=AIzaSyDQ6YVZ7AzUlIXl1K--4HkASyElmuBcfoI"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>