<div class="main">
    <div class="grid-x">
        <div class="cell auto image">
            <img src="main.png" alt="Główne zdjęcie">
            <div class="cover">
                <div class="grid-y">
                    <div>
                        <h2 class="title">Witaj w Homemore!</h2>
                    </div>
                    <div>
                        <p class="title-description">Mieszkania na twoją kieszeń</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell small-12 medium-auto numbers text-center">
                <span class="fa fa-building fa-4x"></span>
                <h3>19</h3>
                <h4>bloków</h4>
            </div>
            <div class="cell small-12 medium-auto numbers text-center">
                <span class="fa fa-users fa-4x"></span>
                <h3>320</h3>
                <h4>zadowolonych klientów</h4>
            </div>
            <div class="cell small-12 medium-auto numbers text-center">
                <span class="fa fa-clone fa-4x"></span>
                <h3>7450</h3>
                <h4>metrów kwadratowych</h4>
            </div>
        </div>
    </div>
</div>

