* {
  box-sizing: border-box;
}

księgarnia {
  display: block;
  font-family: "Liberation Sans";
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

dane-dodatkowe {
  width: 100%;
}

spis, wersja {
  float: left;
  display: block;
  height: 50px;
  background: #eee;
  line-height: 50px;
  padding: 0 15px;
}

spis {
  text-transform: uppercase;
  font-weight: bold;
  width: 20%;
}

wersja {
  width: 80%;
}

wersja::before {
  content: "Wersja: "
}

właściciele {
  float: left;
  display: block;
  height: 30px;
  background: #006eff;
  color: white;
  font-size: 14px;
  line-height: 30px;
  padding: 0 15px;
  width: 100%;
}

właściciele::before {
  content: "Właściciele: ";
  font-weight: bold;
}

właściciel {
  padding: 0 15px;
}

właściciel::after {
  content: attr(numer-indexu);
}

właściciel imię {
  font-size: 13px;
}

właściciel nazwisko {
  text-transform: uppercase;
}

data-modyfikacji {
  float: left;
  display: block;
  height: 25px;
  background: #a8cdff;
  font-size: 12px;
  line-height: 25px;
  padding: 0 15px;
  text-transform: uppercase;
  width: 100%;
}

data-modyfikacji::before {
  content: "Ostatnia data modyfikacji: ";
}

dzień::after {
  content: " -"
}

miesiąc::after {
  content: " -"
}

działy {
  display: none;
}

autorzy {
  display: none;
}

książki {
  display: block;
  padding: 15px;
  float: left;
  background: #eee;
}

książki książka {
  width: 100%;
  display: block;
  float: left;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  background: white;
  padding: 15px;
  position: relative;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.75);
}

książki książka::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  display: block;
  float: left;
  font-size: 40px;
  width: 15%;
  text-align: center;
  content: attr(id-książki);
}

książka tytuł {
  font-size: 25px;
  display: block;
  float: left;
  width: 85%;
  margin-left: 15%;
  padding: 5px 0 5px 15px;
  text-decoration: underline;
}

autor-książki::before {
  display: block;
  width: 85%;
  margin-left: 15%;
  content: "Autor: " attr(imię) " " attr(nazwisko);
  padding: 5px 0;
  font-size: 14px;
  padding: 5px 0 5px 15px;
  color: #555;
}

dział-książki::before {
  display: block;
  width: 85%;
  margin-left: 15%;
  content: "DZIAŁ: " attr(nazwa) " REGAŁ: " attr(regał);
  padding: 5px 0 5px 15px;
  font-size: 14px;
}

cena {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 25px;
}

cena::after {
  content: " " attr(waluta);
  font-weight: bold;
}
