<div class="offers">
    <div class="grid-container">
        <h2 class="text-center">Oferty</h2>
        <div class="grid-x grid-padding-x">
            <div class="cell small-12 medium-6 large-3">
                <div class="offer">
                    <img src="main.png" alt="zdjęcie oferty">
                    <h4>Źródliska Park</h4>
                    <h5>
                        <small>
                            <span class="fa fa-map-marker"></span> ul. Źródlana
                        </small>
                    </h5>
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit
                        amet, consectetur adipisicing elit.</p>
                    <a class="more">
                        Więcej...
                    </a>
                </div>
            </div>
            <div class="cell small-12 medium-6 large-3">
                <div class="offer">
                    <img src="main.png" alt="zdjęcie oferty">
                    <h4>Źródliska Park</h4>
                    <h5>
                        <small>
                            <span class="fa fa-map-marker"></span> ul. Źródlana
                        </small>
                    </h5>
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit
                        amet, consectetur adipisicing elit.</p>
                    <a class="more">
                        Więcej...
                    </a>
                </div>
            </div>
            <div class="cell small-12 medium-6 large-3">
                <div class="offer">
                    <img src="main.png" alt="zdjęcie oferty">
                    <h4>Źródliska Park</h4>
                    <h5>
                        <small>
                            <span class="fa fa-map-marker"></span> ul. Źródlana
                        </small>
                    </h5>
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit
                        amet, consectetur adipisicing elit.</p>
                    <a class="more">
                        Więcej...
                    </a>
                </div>
            </div>
            <div class="cell small-12 medium-6 large-3">
                <div class="offer">
                    <img src="main.png" alt="zdjęcie oferty">
                    <h4>Źródliska Park</h4>
                    <h5>
                        <small>
                            <span class="fa fa-map-marker"></span> ul. Źródlana
                        </small>
                    </h5>
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit
                        amet, consectetur adipisicing elit.</p>
                    <a class="more">
                        Więcej...
                    </a>
                </div>
            </div>
            <div class="cell small-12 medium-6 large-3">
                <div class="offer">
                    <img src="main.png" alt="zdjęcie oferty">
                    <h4>Źródliska Park</h4>
                    <h5>
                        <small>
                            <span class="fa fa-map-marker"></span> ul. Źródlana
                        </small>
                    </h5>
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit
                        amet, consectetur adipisicing elit.</p>
                    <a class="more">
                        Więcej...
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>